p{
    background-color: #c60a0a;
}
a{
    background-color: #af6ae4;
}
.red{
    
}
#firstdiv{
    background-color: blue;
}
#seconddiv{
    background-color: #e2eb3a;
}  
#third{
    background-color: #333679;
} 
